
.map {
  height: 100vh;
  width: 100%;
  .jumpLocationBtn {
    width: 300px;
    height: 50px;
    background: linear-gradient(92.89deg, #5e34f5 2.38%, #c63cbf 47.63%, #e64e71 71%, #ffab0d 100%);
    // #292941;
    text-align: center;
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #eff0f0;
    cursor: pointer;
    font-weight: 800;
    box-shadow: 0px 0px 4px 1px rgba(255, 245, 21, .5);
    .loader {
      width: 24px;
      height: 24px;
      border: 3px solid #FFF;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;
    }
    .loader::after {
      content: '';  
      box-sizing: border-box;
      position: absolute;
      left: 0;
      top: 0;
      background: #292941;
      width: 8px;
      height: 8px;
      transform: translate(-50%, 50%);
      border-radius: 50%;
    }
        
    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    } 
  }
  .jumpLocationBtn:hover {
    bottom: 51px;
  }
  .form {
    min-width: 300px;
    max-width: 800px;
    width: 80%;
    height: 40px;
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    input {
      height: 100%;
      width: 80%;
      border-radius: 10px;
      font-size: 16px;
      border: none;
      padding: 5px;
      outline: none;
      background: grey;
      color: #fff;
    }
    input:outline {
      border: none;
    }
    input::placeholder {
      color: #fff;
    }
    button {
      width: 200px;
      background: #fff;
      color: #000;
      border: none;
      border-radius: 10px;
      cursor: pointer;
    }
  }
}